*{
    box-sizing: border-box;
}

body, html, #root {
    height: 100%;
    width: 100%;

    font-size: 18px;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 20px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 500px;
}

#header input{
    width: 70px;
    font-size: 18px;
}

.applyButton {
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.applyButton:hover {
    background-color: bisque;
}

#main {
    margin-top: 1px;
    padding: 50px;
    width: 500px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__div-list{
    background-color: azure;
}

.table {
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 1.5px;
}

thead {
  background-color: rgb(228 240 245);
}

th,td {
    border: 1px solid rgb(0 0 0);
    /* border: 1px solid rgb(0 161 161); */
    /* border: 1px solid rgb(161 161610 160); */
    padding: 10px;
    text-align: center;
}

caption{
    caption-side: bottom;
    font-weight: bold;
    padding-top: 20px;
    background-color: white;
}

.main__div-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding-top: 40px;
    font-size: 18px;
}

.main__div-buttons button{
    font-size: 16px;
    padding: 20px;
    border-radius: 50px;
}

.main__div-buttons button:hover{
    background-color: bisque;
}

/* predict */
.no-results {
    text-align: center;
    font-weight: bold;
    color: red;
    margin-top: 20px;
}